.finance__block {
    margin: 0 auto;
    display: flex;
    margin-top: 80px;

    @media screen and (max-width: 1116px) {
        padding: 80px 0 0 15px;
    }
}

.finance__container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.finance__title {
    color: #252B42;
    font-size: 45px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 2px;
}

.finance__subtitle {
    color: #737373;
    margin: 40px 0 0 0;
}

.header_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
}

.container {
    max-width: 1046px;
}

.header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.finance__buttons {}

