.finance__block {
    margin: 0 auto;
    display: flex;
}

.finance__container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.finance__title {
    color: #252B42;
    font-size: 45px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 2px;
    margin: 0 0 66px 0;
}

.finance__subtitle {
    color: #737373;
    margin: 0 0 40px 0;
}

.btnStyle {
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
}

.btnStyle:not(:last-child) {
    margin: 0 10px 0 0;
}

.finance__buttonsGetQuote {
    background-color: #FF7B47;
    color: white;
    font-weight: bold;
}

.finance__buttonsLearnMore {
    padding: 13px 38px;
    background-color: transparent;
    color: #0D5C63;
    font-weight: bold;
    border: 2px solid #0D5C63;
}

.header_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
}

.container {
    max-width: 1046px;
}

.header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.finance__buttons {}