.agency {
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-weight: 700;
  font-size: 24px;
  @media screen and (max-width: 663px) {
    text-align: center;
  }

}

.subTitle {
  margin-top: 10px;
  @media screen and (max-width: 663px) {
    text-align: center;
  }
}

.titleAndSubtitle {
    @media screen and (max-width: 660px){
      width: 100%;
    }
}

.containerHolder {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forBtnPadding {
  padding: 0 4px;
  @media screen and (max-width: 660px){
    margin: 0 auto;
    margin-top: 15px;
  }
}