.getInTouchContainer {
  color: white;
  margin: 20px 30px 0 0;
}

.companyInfoListTitle {
  font-weight: bold;
  color: white;
  @media screen and (max-width: 914px) {
    text-align: center;
  }
}

.getInTouchInfoList {
  color: white;
  margin: 20px 0 0;
  @media screen and (max-width: 914px) {
    display: flex;
    justify-content: space-around;
  }
}

.getInTouchListItem {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.itemImg {
  margin-right: 10px;
}

.getInTouchContainer {
  margin-top: 20px;
  @media screen and (max-width: 914px){
    width: 100%;
    margin: 40px 0 0 0;
  }
}