.cards {
    display: flex;
    width: 100%;
    margin-top: 78px;
}

.cards__block {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc((100% - 60px) / 3 );
    height: 328px;
    padding: 50px 40px 38px;
    background-color: white;
    &:not(:first-child) {
        margin-inline-start: 28px;
    }

    @media screen and (max-width: 650px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;

            &:not(:last-child) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
            }
    }

    @media screen and (max-width: 1024px) {
        width: calc((100% - 30px) / 2);
        &:last-child {
            margin: 0;
            width: 100%;
        }
    }
}

.card__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 20px;
}

.cards__blockConsulting {
    background-color: #0D5C63;
}

.cards__blockConsulting p {
    color: white;
}

.cards__blockEnvironmental {}

.card__subtitle {
    margin: 23px 0 0 0;
}

.cardImgWrapper {
    width: 48px;
    height: 48px;
    display: flex;
}

.card__img {
    width: 100%;
    object-fit: contain;
}

.cardImgWrapper img {}
.cards__blockFinance {}
