.finance__buttons {
  margin-top: 40px;
}

.finance__buttonsGetQuote {
  background-color: #FF7B47;
  color: white;
  font-weight: bold;
  border: none;
}

.btnStyle {
  padding: 15px 40px;
  border-radius: 15px;
}