.whoWeAre__container {
  display: flex;
  background-color: white;
}

.whoWeAre__container__content {
  width: 100%;
  margin-top: 100px;
}

.whoWeAre__header {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

.whoWeAre__subtitle {
  text-align: center;
  max-width: 563px;
  margin: 0 auto;
  line-height: 23px;
  margin-top: 15px;
}

.whoWeAre__content {
  width: 100%;
  display: flex;
  margin: 100px 0 136px 0;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.whoWeAre__video {
  max-width: 600px;
  width: 100%;
  display: flex;

  @media screen and (max-width: 1024px) {
    max-width: none;
  }
}

.whoWeAre__description {
  width: 100%;
  max-width: calc(100% - 600px - 80px);
  margin-left: 80px;

  @media screen and (max-width: 1024px) {
    margin-left: 0;
    max-width: none;
  }
}

.whoWeAre__title {
  font-weight: 700;
  font-size: 44px;
  color: #252B42;
  @media screen and (max-width: 1024px) {
    padding-top: 29px;
  }

}

.whoWeAreSub {
  max-width: 362px;
  line-height: 24px;
  margin: 30px 0;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}

.whoWeAre__icon__container {
  width: 100%;
  display: flex;
  @media screen and (max-width: 1024px) {
    align-items: center;
  }
}

.whoWeAre__icon {
  display: flex;
}

.whoWeAre__icon__description {
  padding: 0 0 0 21px;
  @media screen and (max-width: 1024px) {
    padding: 0 5px;
  }
}

.icon__descriptionTitle {
  font-weight: 700;
  padding: 0 0 5px 0;
}

.whoWeAre__icon__containerSecond {
  width: 100%;
  display: flex;
  margin: 30px 0;
  @media screen and (max-width: 1024px) {
    justify-content: center;
  }
  @media screen and (max-width: 730px){
    justify-content: flex-start;
  }
}

.whoWeAre__containerImg {
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.icon__containers {
  @media screen and (max-width: 1024px) {
    display: flex;
  }
  @media screen and (max-width: 730px){
    flex-wrap: wrap;
  }
}

.icon__DescriptionDescription {}
