.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 80px;
}

.header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
  box-sizing: content-box;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
}

.menu__navigation {
  display: flex;
  margin: 0 0 0 133px;
}

.menu__list {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.menu__item {
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  display: flex;
  align-items: center;
  color: black;

  &.active {
    color: red;
  }
}

.toHome {
  color: black;
  display: flex;
  align-items: center;
}