.design {}

.design__container {
    padding-top: 80px;
    width: 100%;
    text-align: center;
}

.design__containerTitle {
    font-weight: 700;
    font-size: 34px;
}

.design__containerSubTitle {
    max-width: 560px;
    margin: 0 auto;
    color: #737373;
    margin-top: 23px;
}

.design__cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.design__card {
    width: calc((100% - 90px) / 4);
    background-color: white;
    padding: 33px 33px 35px 33px;
    &:not(:nth-child(4n + 1)) {
        margin-inline-start: 30px;
    }
    &:nth-child(n + 5) {
        margin-top: 15px;
    }

    @media screen and (max-width: 1024px) {
        width: calc((100% - 30px) / 2);
        &:nth-child(2n + 1) {
            margin-inline-start: 0;
        }
        &:nth-child(n + 3){
            margin-top: 15px;
        }
    }

    @media screen and (max-width: 650px) {
        width: 100%;
        &:nth-child(2n) {
            margin-inline-start: 0;
            margin-top: 15px;
        }
    }
}

.design__card img{
    width: 100%;
}

.design__cardNumber {
    font-weight: 700;
    font-size: 30px;
    margin: 29px 0 29px 0;
}

._service img {}

._business img {}

.wrapper {
    width: 50px;
    height: 48px;
    margin: 0 auto;
}

.designCard {
    height: 100%;
    object-fit: contain;
}

._consumer {}

.design__cardTitle {}

._environmental {}