.practice {
  display: flex;
  width: 100%;
}

.practice__container {
  width: 100%;
  margin-top: 80px;
}

.practice__containerTitle {
  text-align: center;
  font-weight: 700;
  font-size: 37px;
}

.practice__containerSubTitle {
  text-align: center;
  margin-top: 10px;
}

.practice__cards {
  max-width: 1064px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 84px;
}

.practice__card {
  width: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: column;
  background-color: white;

  &:not(:last-child) {
    margin-right: 30px;
  }
  @media screen and (max-width: 650px) {
    &:not(:last-child) {
      width: 100%;
      margin: 0 0 15px 0;
    }
    &:last-child {
      width: 100%;
    }
  }
  @media screen and (max-width: 1024px) {
    width: calc((100% - 30px) / 2);
    margin: 0 0 15px 0;

    &:nth-child(2) {
      margin: 0 0 15px 0;
    }
  }
}

.card__content {
  padding: 30px;
}

.practice__cardTitle {
  max-width: 200px;
  font-weight: 700;
  font-size: 19px;
}

.practice__cardSubtitle {
  margin-top: 15px;
}

.img__container {
  display: flex;
  margin-top: auto;
}

.img__container img {
  width: 100%;
}

