.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*//global container saxi hamar (done)*/
/*//buttony component sarqel nnenc vor vorde vonc uzenq nkarvi designin hamapatasxan*/
/*//mobile burger menu*/
/*//sectionnery poxi paddingov (done)*/
/*//img-nery tox pryamo margin pading chunenan ylnen mihat wrapperi mej (done)*/
/*//marginy tox depi verev u depi dzax lini (done)*/
/*//footeri height hani sax cxvela (done)*/