* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myFont;
  src: url("./assets/fonts/montFont.ttf");
}

body {
  font-family: myFont, serif;
  background-color: #FAFAFA;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

