.links {
  background-color: #17213C;
}


.listHolder {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 680px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

}