.links {
  background-color: #17213C;
}

.links_container {
  max-width: 1066px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;

}

.listHolder {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 913px) {
      justify-content: space-between;
  }

  @media screen and (max-width: 663px){
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}