.links {
  background-color: #17213C;
}

.links_container {
  max-width: 1066px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;

}

.listHolder {
  display: flex;
  @media screen and (max-width: 910px) {
      display: contents;
      width: 100%;
  }

}